extends _layouts/master

block scripts
  //- 專屬 index.pug
  script(src="/JavaScript/api.js")
block content
  h1 這是首頁
  table
       tr 
         //td #{stock.stock_id} 
         //td #{stock.stock_name}  